# Output files
*.o 
*.class
*.out
main
basic_arrays
weird_arrays
getchar
reverse
getchar
vowel_check
size_of
secret_code
reverse_line
reverse_input
good_memory
structs_practice
pointers_example
memory_diagram_practice
malloc_example
passing_by_reference
pointer_arithmetic

#temp files
*.swp 
